# Data / Audio
*.wav
augmented_wavs/
features_emb_all.csv
features_emb_aug_pool.csv
*.xlsx
*.pdf

# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Models
models/master/*.pt
models/wav2vec2_acoustic/model.safetensors
*.safetensors
*.bin

# Other
.agents/
.antigravityignore
